.container {
    /* border: 2px solid black; */
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 100px 200px 200px 100px;
}
.item{
    /* text-align: center; */
    padding: 40px;
    background-color: greenyellow;
}
.a {
    grid-column: 1/3;
}
.b {
    grid-row: 2/4;
}
.e {
   grid-column: 1/3;
}